<html>
    <head>
        <title>Logbook</title>
    </head>
    <body>
        <h1>Logbook</h1>
        {{.GreetingText}} {{template "AuthPartialPage" .UserContext}}
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dictum augue sit amet feugiat molestie. Donec laoreet hendrerit odio, at facilisis sapien lacinia in. Ut quis accumsan metus. Duis consectetur sed ex ac commodo. Fusce ligula justo, volutpat quis lorem sed, feugiat sagittis arcu. Proin cursus auctor ipsum, laoreet laoreet enim finibus vehicula. Nunc eget turpis placerat, scelerisque mauris in, gravida mi. Vestibulum justo erat, facilisis quis sagittis at, porttitor a sem. Nunc nisi ligula, rutrum a imperdiet eget, blandit eget velit. Donec convallis leo metus, non iaculis ex pulvinar ornare. Ut euismod dictum eros vel facilisis. Nullam elementum, sem at imperdiet ullamcorper, purus arcu fermentum dolor, et eleifend leo ex vitae libero.
        </p>
    </body>
</html>